
@{
    ViewBag.Title = "ChooseOption";
}

<h2>ChooseOption</h2>
@using (Html.BeginForm()) { 
<input name="option" type=submit value="Create New" />
<input name="option" type=submit value="Edit/Delete" />
}